<div class="container mt-5">
    <h1 class="text-center">Bienvenidos a la PÁGINA de productos</h1>

    <div class="mt-4">
        <h2>Paginación</h2>
        <div class="list-group">
            {{#each products}}
                <div class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <strong>Nombre:</strong> {{this.title}} - 
                        <strong>Código:</strong> {{this.code}} - 
                        <strong>Precio:</strong> ${{this.price}}
                    </div>
                    <div class="d-flex align-items-center">
                        <input type="number" min="1" value="1" id="quantity-{{this.code}}" class="form-control me-2" style="width: 70px;">
                        <button class="btn btn-success" onclick="addToCart('{{this.code}}', '{{this.title}}', {{this.price}})">Enviar al Carrito</button>
                    </div>
                </div>
            {{/each}}
        </div>

        <div class="d-flex justify-content-center mt-4">
            {{#if hasPrevPage}}
                <a href="/productos?pageNum={{prevPage}}" class="btn btn-primary me-2">Anterior</a>
            {{/if}}
            <span class="align-self-center">Página {{page}}</span>
            {{#if hasNextPage}}
                <a href="/productos?pageNum={{nextPage}}" class="btn btn-primary ms-2">Siguiente</a>
            {{/if}}
        </div>
    </div>
</div>

<script>
function addToCart(code, title, price) {
    const quantity = document.getElementById(`quantity-${code}`).value;

    const product = {
        code: code,
        title: title,
        price: price,
        quantity: quantity
    };

    fetch('/api/carts', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(product),
    })
    .then(response => response.json())
    .then(data => {
        console.log('Producto agregado al carrito:', data);
        alert('Producto agregado al carrito.');
    })
    .catch((error) => {
        console.error('Error al agregar el producto:', error);
        alert('Error al agregar el producto al carrito.');
    });
}
</script>
